body, h1, h2, h3, h4, h5, p, ul, li, ol, form, textarea, select{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
*{
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
}
a{
    text-decoration-line: none;
    color: #ffffff;
}
body{
    background: white;
}
img{
    width: 100%;
    height: 100%;
    display: block;
}


