@import "base.css";
html {
    font-size: 100px; }

body {
    font-size: 16px; }

@media screen and (min-width: 320px) {
    html {
        font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
    html {
        font-size: 48px; } }

@media screen and (min-width: 375px) {
    html {
        font-size: 50px; } }

@media screen and (min-width: 412px) {
    html {
        font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
    html {
        font-size: 55.2px; } }

/*header*/
header{
    width: 100%;
    height: 0.88rem;
    padding: 0 0.22rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    line-height: 0.88rem;
    color: #4ebbfe;
    font-size: 0.38rem;
}
header > a {
    color: #4ebbfe;
}

.main{
    display: flex;
    height: 10rem;
    padding: 0.7rem 0.32rem 0 0.35rem;
    box-sizing: border-box;
    width: 100%;
    top: 76rem;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main > img{
    width: 2.87rem;
    height: 2.64rem;
}
.main > span{
    font-size: 0.26rem;
    color: #000000;
    opacity: 0.4;
}

.main > a span.jia{
    width: 1.96rem;
    height: 0.6rem;
    background-image: linear-gradient(90deg,
    #37e06f 0%,
    #31d69a 100%),
    linear-gradient(
            #3bacfe,
            #3bacfe);
    background-blend-mode: normal,
    normal;
    box-shadow: 0px 4px 20px 0px
    rgba(55, 223, 116, 0.75);
    border-radius: 0.3rem;
    font-size: 0.24rem;
    letter-spacing: 0.01rem;
    color: #ffffff;
    line-height: 0.6rem;
    display: block;
    text-align: center;
    margin-top: 0.17rem;
}